@import "@/assets/styles";

.subtitle {
	color: $text-gray;
	font-weight: 400;

	span {
		vertical-align: middle;
		font-size: 1rem;
	}
}

.details {
	> * + * {
		@include ui-space("top", 2);
	}
}

.head {
	position: relative;
	padding-right: 3.375rem;
}

$heartWidth: 1.25rem;

.favoriteBtn {
	position: absolute;
	top: 0;
	right: 0;

	padding: $ui-step * 3;
	svg {
		width: $heartWidth;
		height: $heartWidth;
		flex: 0 0 $heartWidth;
	}
}
