@import "@/assets/styles";

.header {
	position: relative;
	z-index: $ui-index-5;
	background-color: $bg-color-secondary;
}

.container {
	display: flex;
	align-items: center;
	min-height: $header-height;
}

.logo {
	margin-inline-end: auto;
}

.mobileMenu {
	@media (min-width: 767.98px) {
		display: none;
	}
}
.desktopMenu {
	@media (max-width: 767.98px) {
		display: none;
	}
}

.menuRight {
	@media (max-width: 767.98px) {
		display: none;
	}
}
