@import "@/assets/styles";

.header {
	background-color: $bg-color-secondary;
}

.container {
	display: flex;
	align-items: center;
	min-height: $header-height;
}

.logo {
	margin-inline-end: auto;
}
