@import "@/assets/styles/index";

.wrapper {
	@extend %input-wrapper;

	width: 100%;
}

.dropArea {
	outline: 3px $primary-color dashed;
}

.error {
	@extend %error-message;
}

.fileInput {
	display: none;
}

.label {
	cursor: pointer;
}
