@import "@/assets/styles";

$dropdown-padding: $ui-step * 4;

.wrapper {
	padding: $dropdown-padding 0;

	background: $bg-color-secondary;
	border-radius: $border-rds-sm;

	@include fade-out();

	transition: $fade-transition;
}

.dropdown {
	position: absolute;
	top: calc(100% + $ui-step * 3);
	right: 0;
	z-index: $ui-index-4;

	width: min-content;
	max-width: 31.25rem;
}

.open {
	@include fade-in();
}

.head {
	display: flex;
	align-items: center;
	padding: 0 $dropdown-padding $ui-step * 2;

	border-bottom: 1px solid $gray-color;
}

.avatar {
	@include ui-space("right", 2);
}

.name {
	font-size: 0.875rem;
	font-weight: 500;
}

.email {
	font-size: 0.8125rem;
}

.options {
	> * {
		padding: $ui-step * 2 $dropdown-padding;
		transition: background-color $transition;

		@media (any-hover: hover) {
			&:hover {
				background-color: rgba($color: $primary-color-hover, $alpha: 0.3);
			}
		}
	}
}
