@import "@/assets/styles";

.wrapper {
	padding: $ui-step * 8 0;
}
.container {
	display: flex;
}

$previewWidth: 12.5rem;

.preview {
	width: $previewWidth;
	flex: 0 0 $previewWidth;
	height: 100%;
}

.description {
	flex: 1 1;
}
