@import "@/assets/styles";

.btn {
	padding: 0.3125rem;

	border: none;
	border-radius: 50%;
	background: none;
	cursor: pointer;

	transition: background-color $btn-transition;

	@media (any-hover: hover) {
		&:hover {
			background-color: rgba($color: $primary-color, $alpha: 0.5);
		}
	}
}
