@import "@/assets/styles/index";

.wrapper {
	display: flex;
}

.center {
	justify-content: center;
}

.end {
	justify-content: flex-end;
}

.button {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding: $ui-step * 3 $ui-step * 5;

	background: none;
	color: inherit;
	border: none;
	border-radius: $border-rds-sm;
	cursor: pointer;

	transition: background-color $transition, color $transition;

	&:disabled {
		opacity: 0.5;
	}
}

.primary {
	background-color: $primary-color;
	color: $text-white;

	@media (any-hover: hover) {
		&:hover {
			background-color: $primary-color-hover;
		}

		&:active {
			background-color: $primary-color-active;
		}
	}
}

.fullWidth {
	width: 100%;
}

.text,
.text:hover,
.text:active {
	padding: 0;

	background-color: transparent;
	border: none;
}
