@import "@/assets/styles";

$preview-width: 12.5rem;
$preview-height: 17.625rem;

.preview {
	overflow: hidden;

	border-radius: $border-rds-sm;
	box-shadow: $shadow;
}

.poster {
	width: $preview-width;
	height: $preview-height;
}

.posterWrapper {
	width: $preview-width;
	height: $preview-height;

	background: url("../../assets/images/empty-poster.png") center no-repeat;
	background-color: $bg-color-dark;
}

.rates {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: $ui-step * 2;

	background-color: $bg-color-dark;
}

.kp,
.imdb {
	display: flex;
	align-items: center;

	:global {
		text {
			fill: #fff;
		}
	}
}

.kp {
	color: #f60;

	&::after {
		content: "KP";
		@include ui-space("left", 2);

		font-weight: 500;
	}
}

.imdb {
	color: #fc0;

	&::before {
		content: "IMDB";
		@include ui-space("right", 2);

		font-weight: 500;
	}
}
