@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik+Pixels&display=swap");

@import "@/assets/styles/variables";

* {
	box-sizing: border-box;

	&:focus {
		outline-color: $primary-color-active;
	}
}

body {
	font-family: $font-family;
	font-size: 0.9375rem;

	background-color: $bg-color;
	color: $text-color;
}

a {
	color: $primary-color;
	text-decoration: none;

	transition: color $btn-transition;

	@media (any-hover: hover) {
		&:hover {
			color: $primary-color-hover;
			text-decoration: underline;
		}
	}

	&:active {
		color: $primary-color-active;
	}
}

@supports (font: -apple-system-body) and (-webkit-appearance: none) {
	img[loading="lazy"] {
		clip-path: inset(0.6px);
	}
}
